{% extends "asesorias/Base/AdministradorCentro/org_docente.html" %}

{% block content %}

    <h1>Lista de asesores curso académico.</h1>

    <div class="form">
        <div><p>Curso académico: <b>{{ curso_academico }}</b> <a href={% url selectCursoAcademico_AsesorCursoAcademico_administradorCentro centro %} class="updatelink"></a></p></div>
    </div>

    <a href="{# url addAsesorCursoAcademico asesor #}" class="addlink">Crear nuevo</a>
    <a href="{# url generarPDFListaAsesoresCursoAcademico asesor busqueda #}" class="pdflink">Generar PDF</a>

    <div class="search">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Realizar búsqueda.">
                {% for field in form %}
                <tr>
                    <th scope="row"><input type="submit" value="Búsqueda" class="searchlink"/></th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>

        </form>

    </div>

    <div class="module">
        <table summary="Lista de asesores curso académico.">
        <caption><h2>Lista de asesores curso académico{% if busqueda %} (Filtro = {{ busqueda }}){% endif %}</h2></caption>

        {% if not lista_asesores_curso_academico %}

        <tr><th scope="row"><p>No existen actualmente asesores curso académico para este centro en el sistema.</p></th></tr>

        {% else %}

        {% if not busqueda %}
        <tr>
            {% ifequal orden '_dni_pasaporte' %}
            <th colspan="3"><a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'dni_pasaporte' %}>DNI/Pasaporte &#11014;</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'nombre' %}>Nombre</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'apellidos' %}>Apellidos</a></th>

            {% else %}

            {% ifequal orden 'nombre' %}
            <th colspan="3"><a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'dni_pasaporte' %}>DNI/Pasaporte</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico '_nombre' %}>Nombre &#11015;</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'apellidos' %}>Apellidos</a></th>

            {% else %}

            {% ifequal orden '_nombre' %}
            <th colspan="3"><a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'dni_pasaporte' %}>DNI/Pasaporte</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'nombre' %}>Nombre &#11014;</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'apellidos' %}>Apellidos</a></th>

            {% else %}

            {% ifequal orden 'apellidos' %}
            <th colspan="3"><a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'dni_pasaporte' %}>DNI/Pasaporte</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'nombre' %}>Nombre</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico '_apellidos' %}>Apellidos &#11015;</a></th>

            {% else %}

            {% ifequal orden '_apellidos' %}
            <th colspan="3"><a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'dni_pasaporte' %}>DNI/Pasaporte</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'nombre' %}>Nombre</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'apellidos' %}>Apellidos &#11014;</a></th>

            {% else %}
            <th colspan="3"><a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico '_dni_pasaporte' %}>DNI/Pasaporte &#11015;</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'nombre' %}>Nombre</a> : <a href={% url listAsesorCursoAcademico_administradorCentro centro curso_academico 'apellidos' %}>Apellidos</a></th>

            {% endifequal %}
            {% endifequal %}
            {% endifequal %}
            {% endifequal %}
            {% endifequal %}
        </tr>
        {% endif %}

        <!-- Asesores Curso Academico -->
        {% for asesor in lista_asesores_curso_academico %}
        <tr>
            <th scope="row"><a href="{# url editAsesorCursoAcademico asesor.dni_pasaporte asesor.curso_academico #}">{{ asesor.dni_pasaporte }} : {{ asesor.dni_pasaporte.nombre }} : {{ asesor.dni_pasaporte.apellidos }}</a></th>
            <td><a href="{# url editAsesorCursoAcademico asesor.dni_pasaporte asesor.curso_academico #}" class="editlink">Editar</a></td>
            <td><a href="{# url delAsesorCursoAcademico asesor.dni_pasaporte asesor.curso_academico #}" class="deletelink">Eliminar</a></td>
        </tr>
        {% endfor %}

        {% endif %}

        </table>
    </div>

{% endblock %}
