{% extends "asesorias/Base/base.html" %}

    {% block menu %}
                <li><a href="{% url administradorCentro_inicio centro %}" {% block opcion_inicio %}{% endblock %}>Inicio</a></li>
                <li><a href="{% url administradorCentro_informacion_personal centro %}" {% block opcion_informacion_personal %}{% endblock %}>Información personal</a></li>
                <li><a href="{% url administradorCentro_org_institucional centro %}" {% block opcion_org_institucional %}{% endblock %}>Organización institucional</a></li>
                <li><a href="{% url administradorCentro_org_docente centro %}" {% block opcion_org_docente %}{% endblock %}>Organización docente</a></li>
    {% endblock %}

                                {% block usuario %}
                                    <div class="etiqueta">
                                        <p>Usuario:</p>
                                        <p><em>{{ user.first_name }}</em></p>
                                    </div>
                                {% endblock %}

                                {% block centro %}
                                    <div class="etiqueta">
                                        <p>Centro:</p>
                                        <p><em>{{ centro }}</em></p>
                                    </div>
                                {% endblock %}

    {% block elementos_sidebar %}
                            <ul>
                                <li><h3><a href="{% url administradorCentro_informacion_personal centro %}">Información personal</a></h3>
                                    {% block informacion_personal %}{% endblock %}
                                </li>
                                <li><h3><a href="{% url administradorCentro_org_institucional centro %}">Organización institucional</a></h3>
                                    {% block org_institucional %}{% endblock %}
                                </li>
                                <li><h3><a href="{% url administradorCentro_org_docente centro %}">Organización docente</a></h3>
                                    {% block org_docente %}{% endblock %}
                                </li>
                            </ul>
    {% endblock %}

    {% block url_inicio %}<li><a href="{% url administradorCentro_inicio centro %}">Inicio</a></li>{% endblock %}
