{% extends "asesorias/Base/base.html" %}

    {% block menu %}
                <li><a href="{% url administradorCentro_inicio centro %}" {% block opcion_inicio %}{% endblock %}>Inicio</a></li>
                <li><a href="{% url administradorCentro_org_institucional centro %}" {% block opcion_org_institucional %}{% endblock %}>Organización institucional</a></li>
                <li><a href="{% url administradorCentro_org_docente centro %}" {% block opcion_org_docente %}{% endblock %}>Organización docente</a></li>
                <li><a href="{% url administradorCentro_alumnos centro %}" {% block opcion_alumnos %}{% endblock %}>Alumnos</a></li>
                <li><a href="{% url administradorCentro_reuniones centro %}" {% block opcion_reuniones %}{% endblock %}>Reuniones</a></li>
                <li><a href="{% url administradorCentro_plantillas centro %}" {% block opcion_plantillas %}{% endblock %}>Plantillas de entrevista</a></li>
    {% endblock %}

    {% block centro %}<h3><a href="">{{ centro }}</a></h3>{% endblock %}

    {% block elementos_sidebar %}
                            <ul>
                                <li><h3><a href="{% url administrador_org_institucional %}">Organización institucional</a></h3>
                                    {% block org_institucional %}{% endblock %}
                                </li>
                                <li><h3><a href="{% url administrador_org_docente %}">Organización docente</a></h3>
                                    {% block org_docente %}{% endblock %}
                                </li>
                                <li><h3><a href="{% url administrador_alumnos %}">Alumnos</a></h3>
                                    {% block alumnos %}{% endblock %}
                                </li>
                                <li><h3><a href="{% url administrador_reuniones %}">Reuniones</a></h3>
                                    {% block reuniones %}{% endblock %}
                                </li>
                                <li><h3><a href="{% url administrador_plantillas %}">Plantillas de entrevista</a></h3>
                                    {% block plantillas %}{% endblock %}
                                </li>
                            </ul>
    {% endblock %}

    {% block url_inicio %}<li><a href="{% url administradorCentro_inicio centro %}">Inicio</a></li>{% endblock %}
