{% extends "asesorias/Base/AdministradorCentro/base_administrador_centro.html" %}

    <!-- Determina el elemento activo en el menú horizontal -->
    {% block opcion_org_docente %}class="active"{% endblock %}

    {% block org_docente %}
                                    <ul>
                                        <li><a href="{% url selectCursoAcademico_AsesorCursoAcademico_administradorCentro centro %}">Asesores Curso Académico</a></li>
                                        <li><a href="{% url selectCursoAcademico_AlumnoCursoAcademico_administradorCentro centro %}">Alumnos Curso Académico</a></li>
                                        <li><a href="{% url selectTitulacion_Matricula_administradorCentro centro 'list' %}">Matrículas</a></li>
                                        <li><a href="{% url selectTitulacion_CalificacionConvocatoria_administradorCentro centro 'list' %}">Calificaciones Convocatoria</a></li>
                                    </ul>
    {% endblock %}
