{% extends "asesorias/Base/AdministradorCentro/informacion_personal.html" %}

    {% block content %}
            <h1>Alumno</h1>

            <div class="module">
                <table summary="Información personal.">
                <caption><h2>Información personal</h2></caption>

                <!-- Modificar contraseña -->
                <tr>
                    <th scope="row"><a href="{% url modificarClave_AdministradorCentro centro %}">Modificar contraseña</a></th>
                </tr>

                </table>
            </div>

    {% endblock %}
