{% extends "asesorias/Base/AdministradorCentro/informacion_personal.html" %}

    {% block content %}
            <h1>Alumno</h1>

            <div class="module">
                <table summary="Información personal.">
                <caption><h2>Información personal</h2></caption>

                <!-- Ver información personal -->
                <tr>
                    <th scope="row"><a href="{# url showInfo_Alumno curso_academico #}">Ver información personal</a></th>
                </tr>

                <!-- Modificar contraseña -->
                <tr>
                    <th scope="row"><a href="{# url modificarClave_Alumno curso_academico #}">Modificar contraseña</a></th>
                </tr>

                </table>
            </div>

    {% endblock %}
