{% extends "asesorias/Base/AdministradorCentro/org_institucional.html" %}

    {% block content %}
            <h1>Administrador de centro</h1>


            <div class="module">
                <table summary="Administración de centros.">
                <caption><h2>Organización institucional</h2></caption>

                <!-- Titulaciones. -->
                <tr>
                    <th scope="row"><a href="{% url listTitulacion_administradorCentro centro 'nombre_centro' %}">Titulaciones</a></th>
                    <td><a href="{% url addTitulacion_administradorCentro centro %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Asignaturas. -->
                <tr>
                    <th scope="row"><a href="{% url selectTitulacion_Asignatura_administradorCentro centro 'list' %}">Asignaturas</a></th>
                    <td><a href="{% url selectCentro_Asignatura 'add' %}" class="addlink">Añadir</a></td>
                </tr>


                <!-- Asignaturas Curso Académico. -->
                <tr>
                    <th scope="row"><a href="{% url selectCentro_AsignaturaCursoAcademico 'list' %}">Asignaturas Curso Académico</a></th>
                    <td><a href="{% url selectCentro_AsignaturaCursoAcademico 'add' %}" class="addlink">Añadir</a></td>
                </tr>

                </table>
            </div>

    {% endblock %}
