{% extends "asesorias/Base/AdministradorCentro/org_docente.html" %}

    {% block content %}
            <h1>Administrador de centro</h1>

            <div class="module">
                <table summary="Organización docente.">
                <caption><h2>Organización docente</h2></caption>

                <!-- Asesores Curso Académico. -->
                <tr>
                    <th scope="row"><a href="{% url selectCursoAcademico_AsesorCursoAcademico_administradorCentro centro %}">Asesores Curso Académico</a></th>
                </tr>

                <!-- Alumnos Curso Académico. -->
                <tr>
                    <th scope="row"><a href="{% url selectCursoAcademico_AlumnoCursoAcademico_administradorCentro centro %}">Alumnos Curso Académico</a></th>
                </tr>

                <!-- Matrículas. -->
                <tr>
                    <th scope="row"><a href="{% url selectTitulacion_Matricula_administradorCentro centro 'list' %}">Matrículas</a></th>
                    <td><a href="{% url selectTitulacion_Matricula_administradorCentro centro 'add' %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Calificaciones Convocatoria. -->
                <tr>
                    <th scope="row"><a href="{% url selectCentro_CalificacionConvocatoria 'list' %}">Calificaciones Convocatoria</a></th>
                    <td><a href="{% url selectCentro_CalificacionConvocatoria 'add' %}" class="addlink">Añadir</a></td>
                </tr>

                </table>
            </div>

    {% endblock %}
