{% extends "asesorias/Base/AdministradorCentro/inicio.html" %}

    {% block content %}
            <h1>Administrador de centro</h1>


            <div class="module">
                <table summary="Administración de centros.">
                <caption><h2>Organización institucional</h2></caption>

                <!-- Titulaciones. -->
                <tr>
                    <th scope="row"><a href="{% url listTitulacion_administradorCentro centro 'nombre_centro' %}">Titulaciones</a></th>
                    <td><a href="{% url addTitulacion_administradorCentro centro %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Asignaturas. -->
                <tr>
                    <th scope="row"><a href="{% url selectTitulacion_Asignatura_administradorCentro centro 'list' %}">Asignaturas</a></th>
                    <td><a href="{% url selectTitulacion_Asignatura_administradorCentro centro 'add' %}" class="addlink">Añadir</a></td>
                </tr>


                <!-- Asignaturas Curso Académico. -->
                <tr>
                    <th scope="row"><a href="{% url selectTitulacion_AsignaturaCursoAcademico_administradorCentro centro 'list' %}">Asignaturas Curso Académico</a></th>
                    <td><a href="{% url selectTitulacion_AsignaturaCursoAcademico_administradorCentro centro 'add' %}" class="addlink">Añadir</a></td>
                </tr>
                </table>
            </div>

            <div class="module">
                <table summary="Organización docente.">
                <caption><h2>Organización docente</h2></caption>

                <!-- Asesores Curso Académico. -->
                <tr>
                    <th scope="row"><a href="{% url selectCursoAcademico_AsesorCursoAcademico_administradorCentro centro %}">Asesores Curso Académico</a></th>
                    <td><a href="{% url addAsesorCursoAcademico '' %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Alumnos Curso Académico. -->
                <tr>
                    <th scope="row"><a href="{% url selectAsesor_AlumnoCursoAcademico 'list' %}">Alumnos Curso Académico</a></th>
                    <td><a href="{% url selectAsesor_AlumnoCursoAcademico 'add' %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Matrículas. -->
                <tr>
                    <th scope="row"><a href="{% url selectAsignaturaOAlumnoCursoAcademico %}">Matrículas</a></th>
                    <td><a href="{% url selectCentro_Matricula 'add' %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Calificaciones Convocatoria. -->
                <tr>
                    <th scope="row"><a href="{% url selectCentro_CalificacionConvocatoria 'list' %}">Calificaciones Convocatoria</a></th>
                    <td><a href="{% url selectCentro_CalificacionConvocatoria 'add' %}" class="addlink">Añadir</a></td>
                </tr>

                </table>
            </div>

    {% endblock %}
