{% extends "asesorias/Base/Alumno/inicio.html" %}

    {% block content %}
            <h1>Alumno</h1>

            <div class="module">
                <table summary="Información personal.">
                <caption><h2>Información personal</h2></caption>

                <!-- Ver información personal -->
                <tr>
                    <th scope="row"><a href="{% url showInfo_Alumno curso_academico %}">Ver información personal</a></th>
                </tr>

                <!-- Modificar contraseña -->
                <tr>
                    <th scope="row"><a href="{% url modificarClave_Alumno curso_academico %}">Modificar contraseña</a></th>
                </tr>

                </table>
            </div>

            <div class="module">
                <table summary="Matrículas.">
                <caption><h2>Matrículas</h2></caption>

                <!-- Ver matriculación actual -->
                <tr>
                    <th scope="row"><a href="{% url showMatriculacionActual_Alumno curso_academico %}">Ver matriculación actual</a></th>
                </tr>

                <!-- Ver matriculación histórica -->
                <tr>
                    <th scope="row"><a href="{% url showMatriculacionHistorica_Alumno curso_academico %}">Ver matriculación histórica</a></th>
                </tr>

                </table>
            </div>

            <div class="module">
                <table summary="Reuniones.">
                <caption><h2>Reuniones</h2></caption>

                <!-- Ver reuniones -->
                <tr>
                    <th scope="row"><a href="{% url listReunion_Alumno curso_academico 'fecha' %}">Ver reuniones</a></th>
                </tr>

                </table>
            </div>

    {% endblock %}
