{% extends "asesorias/Base/Alumno/reuniones.html" %}

    {% block content %}
            <h1>Alumno</h1>

            <div class="module">
                <table summary="Reuniones.">
                <caption><h2>Reuniones</h2></caption>

                <!-- Ver reuniones -->
                <tr>
                    <th scope="row"><a href="{# url showMatriculacionActual_Alumno curso_academico #}">Ver reuniones</a></th>
                </tr>

                </table>
            </div>

    {% endblock %}
