{% extends "asesorias/Base/Alumno/matriculas.html" %}

    {% block content %}
            <h1>Alumno</h1>

            <div class="module">
                <table summary="Matrículas.">
                <caption><h2>Matrículas</h2></caption>

                <!-- Ver matriculación actual -->
                <tr>
                    <th scope="row"><a href="{% url showMatriculacionActual_Alumno curso_academico %}">Ver matriculación actual</a></th>
                </tr>

                <!-- Ver matriculación histórica -->
                <tr>
                    <th scope="row"><a href="{% url showMatriculacionHistorica_Alumno curso_academico %}">Ver matriculación histórica</a></th>
                </tr>

                </table>
            </div>

    {% endblock %}
