{% extends "asesorias/Base/base_plantillas.html" %}

{% block content %}

    <h1>Añadir pregunta oficial.</h1>

    {% if form.errors %}
    <div id="form-error">
        <p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
        <ul>
            {% for field in form %}
                {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
            {% if form.non_field_errors %}{{ form.non_field_errors}}{% endif %}
        </ul>
    </div>
    {% endif %}

    <div class="module">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Añadir pregunta oficial.">
                <caption><h2>Añadir pregunta oficial</h2></caption>
                {% for field in form %}

                {# Excluye el campo id_titulacion que se controlará por software. #}
                {% ifnotequal field.name 'id_pregunta_oficial' %}
                <tr>
                    <th scope="row">{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endifnotequal %}

                {% endfor %}
                </table>
            </div>

            <p><input type="submit" value="Confirmar"/></p>
        </form>

    </div>

{% endblock %}
