{% extends "asesorias/Base/AdministradorPrincipal/plantillas.html" %}

{% block content %}

    <h1>Editar pregunta oficial.</h1>

    {% if not form %}

    <p>No existe tal pregunta oficial.</p>

    <a href="{% url selectCentro_Titulacion %}">Lista de preguntas oficiales</a>

    {% else %}

    {% if form.errors %}
    <div id="form-error">
        <p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
        <ul>
            {% for field in form %}
                {% if field.errors %}<li><em>{{ field.label_tag }}</em>: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
            {% if form.non_field_errors %}{{ form.non_field_errors}}{% endif %}
        </ul>
    </div>
    {% endif %}

    <div class="module">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Editar pregunta oficial.">
                <caption><h2>Editar pregunta oficial</h2></caption>
                {% for field in form %}

                {# Excluye los campos que se controlarán por software. #}
                {% ifnotequal field.name 'id_entrevista_oficial' %}
                {% ifnotequal field.name 'id_pregunta_oficial' %}
                <tr>
                    <th scope="row">{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endifnotequal %}
                {% endifnotequal %}

                {% endfor %}
                </table>
            </div>

            <p><input type="submit" value="Confirmar"/></p>
        </form>

    </div>

    {% endif %}

{% endblock %}
