<h1>Lista de asignaturas curso académico.</h1>

<a href="../add">Crear nuevo</a>

{% if error %}

{{ error }}

{% else %}

	{% for asignatura_curso_academico in lista_asignaturas_curso_academico %}
		<ul>
			<li>{{ asignatura_curso_academico }}</li>
			<a href="../{{ asignatura_curso_academico.determinarNombreCentro }}/{{ asignatura_curso_academico.determinarNombreTitulacion }}/{{ asignatura_curso_academico.determinarPlanEstudios }}/{{ asignatura_curso_academico.determinarNombreAsignatura }}/{{ asignatura_curso_academico.curso_academico }}/edit">Editar</a>
			<a href="../{{ asignatura_curso_academico.determinarNombreCentro }}/{{ asignatura_curso_academico.determinarNombreTitulacion }}/{{ asignatura_curso_academico.determinarPlanEstudios }}/{{ asignatura_curso_academico.determinarNombreAsignatura }}/{{ asignatura_curso_academico.curso_academico }}/del">Eliminar</a>
		</ul>
	{% endfor %}

{% endif %}
