{% extends "asesorias/Base/AdministradorPrincipal/org_institucional.html" %}

{% block content %}

    <h1>Editar asignatura.</h1>

    <div class="form">
        <div><p>Centro: <b>{{ nombre_centro }}</b></p></div>
        <div><p>Titulación (Plan_estudios): <b>{{ nombre_titulacion }} ({{ plan_estudios }})</b></p></div>
    </div>

    {% if not form %}

    <p>No existe tal asignatura.</p>

    <a href="{% url selectCentro_Asignatura 'list' %}">Volver</a>

    {% else %}

    {% if form.errors %}
    <div id="form-error">
        <p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
        <ul>
            {% for field in form %}
                {% if field.errors %}<li><em>{{ field.label_tag }}</em>: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
            {% if form.non_field_errors %}{{ form.non_field_errors}}{% endif %}
        </ul>
    </div>
    {% endif %}

    <div class="module">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Editar centro.">
                <caption><h2>Editar centro</h2></caption>

                {% for field in form %}

                {# Excluye los campos que forman parte de la clave que se controlarán por software. #}
                {% ifnotequal field.name 'id_centro' %}
                {% ifnotequal field.name 'id_titulacion' %}
                {% ifnotequal field.name 'id_asignatura' %}
                <tr>
                    <th scope="row">{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endifnotequal %}
                {% endifnotequal %}
                {% endifnotequal %}

                {% endfor %}
                </table>
            </div>

            <p><input type="submit" value="Confirmar"/></p>
        </form>

    </div>

    {% endif %}

{% endblock %}
