{% extends "asesorias/Base/base_org_institucional.html" %}

	{% block content %}
			<h1>Administrador</h1>


			<div class="module">
				<table summary="Administración de centros.">
				<caption><h2>Organización institucional</h2></caption>


				<!-- Centros -->
				<tr>
					<th scope="row"><a href="{% url listCentro 'nombre_centro' %}">Centros</a></th>
					<td><a href="{% url addCentro %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Administradores de centro. -->
				<tr>
					<th scope="row"><a href="{% url listAdministradorCentro 'nombre_adm_centro' %}">Administradores de centro</a></th>
					<td><a href="{% url addAdministradorCentro %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Centros - Administradores de centro. -->
				<tr>
					<th scope="row"><a href="{% url listCentro_administradorCentro %}">Centros - Administradores de centro</a></th>
					<td><a href="{% url addCentro_administradorCentro %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Titulaciones. -->
				<tr>
					<th scope="row"><a href="{% url listTitulacion %}">Titulaciones</a></th>
					<td><a href="{% url addTitulacion %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Asignaturas. -->
				<tr>
					<th scope="row"><a href="{% url listAsignatura %}">Asignaturas</a></th>
					<td><a href="{% url addAsignatura %}" class="addlink">Añadir</a></td>
				</tr>


				<!-- Asignaturas Curso Académico. -->
				<tr>
					<th scope="row"><a href="{% url listAsignaturaCursoAcademico %}">Asignaturas Curso Académico</a></th>
					<td><a href="{% url addAsignaturaCursoAcademico %}" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

	{% endblock %}
