{% extends "asesorias/Base/base_inicio.html" %}

	{% block content %}
			<h1>Administrador</h1>


			<div class="module">
				<table summary="Administración de centros.">
				<caption><h2>Organización institucional</h2></caption>


				<!-- Centros -->
				<tr>
					<th scope="row"><a href="{% url listCentro 'nombre_centro' %}">Centros</a></th>
					<td><a href="{% url addCentro %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Administradores de centro. -->
				<tr>
					<th scope="row"><a href="{% url listAdministradorCentro 'nombre_adm_centro' %}">Administradores de centro</a></th>
					<td><a href="{% url addAdministradorCentro %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Centros - Administradores de centro. -->
				<tr>
					<th scope="row"><a href="{% url selectCentro_CentroAdministradorCentro %}">Centros - Administradores de centro</a></th>
					<td><a href="{% url addCentro_administradorCentro %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Titulaciones. -->
				<tr>
					<th scope="row"><a href="{% url selectCentro_Titulacion %}">Titulaciones</a></th>
					<td><a href="{% url addTitulacion %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Asignaturas. -->
				<tr>
					<th scope="row"><a href="{% url selectCentro_Asignatura %}">Asignaturas</a></th>
					<td><a href="{% url addAsignatura %}" class="addlink">Añadir</a></td>
				</tr>


				<!-- Asignaturas Curso Académico. -->
				<tr>
					<th scope="row"><a href="{% url selectCentro_AsignaturaCursoAcademico %}">Asignaturas Curso Académico</a></th>
					<td><a href="{% url addAsignaturaCursoAcademico %}" class="addlink">Añadir</a></td>
				</tr>
				</table>
			</div>

			<div class="module">
				<table summary="Organización docente.">
				<caption><h2>Organización docente</h2></caption>

				<!-- Departamentos. -->
				<tr>
					<th scope="row"><a href="{% url listDepartamento 'nombre_departamento' %}">Departamentos</a></th>
					<td><a href="{% url addDepartamento %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Asesores. -->
				<tr>
					<th scope="row"><a href="{% url listAsesor 'nombre_asesor' %}">Asesores</a></th>
					<td><a href="{% url addAsesor %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Asesores Curso Académico. -->
				<tr>
					<th scope="row"><a href="{% url selectDepartamento_AsesorCursoAcademico %}">Asesores Curso Académico</a></th>
					<td><a href="{% url addAsesorCursoAcademico %}" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

			<div class="module">
				<table summary="Administración de alumnos.">
				<caption><h2>Alumnos</h2></caption>

				<!-- Alumnos. -->
				<tr>
					<th scope="row"><a href="{% url listAlumno %}">Alumnos</a></th>
					<td><a href="{% url addAlumno %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Alumnos Curso Académico. -->
				<tr>
					<th scope="row"><a href="{% url listAlumnoCursoAcademico %}">Alumnos Curso Académico</a></th>
					<td><a href="{% url addAlumnoCursoAcademico %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Matrículas. -->
				<tr>
					<th scope="row"><a href="{% url listMatricula %}">Matrículas</a></th>
					<td><a href="{% url addMatricula %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Calificaciones Convocatoria. -->
				<tr>
					<th scope="row"><a href="{% url listCalificacionConvocatoria %}">Calificaciones Convocatoria</a></th>
					<td><a href="{% url addCalificacionConvocatoria %}" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

			<div class="module">
				<table summary="Administración de reuniones.">
				<caption><h2>Reuniones</h2></caption>

				<!-- Reuniones. -->
				<tr>
					<th scope="row"><a href="{% url listReunion %}">Reuniones</a></th>
					<td><a href="{% url addReunion %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Reuniones - Preguntas de asesor. -->
				<tr>
					<th scope="row"><a href="{% url listReunion_preguntaAsesor %}">Reuniónes - Preguntas de asesor</a></th>
					<td><a href="{% url addReunion_preguntaAsesor %}" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

			<div class="module">
				<table summary="Administración de plantillas.">
				<caption><h2>Plantillas de entrevista</h2></caption>

				<!-- Plantillas de entrevista oficiales. -->
				<tr>
					<th scope="row"><a href="{% url listPlantillaEntrevistaOficial %}">Plantillas de entrevista oficiales</a></th>
					<td><a href="{% url addPlantillaEntrevistaOficial %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Preguntas oficiales. -->
				<tr>
					<th scope="row"><a href="{% url listPreguntaOficial %}">Preguntas oficiales</a></th>
					<td><a href="{% url addPreguntaOficial %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Plantillas de entrevista de asesor. -->
				<tr>
					<th scope="row"><a href="{% url listPlantillaEntrevistaAsesor %}">Plantillas de entrevista de asesor</a></th>
					<td><a href="{% url addPlantillaEntrevistaAsesor %}" class="addlink">Añadir</a></td>
				</tr>

				<!-- Preguntas de asesor. -->
				<tr>
					<th scope="row"><a href="{% url listPreguntaAsesor %}">Preguntas de asesor</a></th>
					<td><a href="{% url addPreguntaAsesor %}" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

	{% endblock %}
