{% extends "asesorias/Base/AdministradorPrincipal/org_institucional.html" %}

    {% block content %}
            <h1>Administrador</h1>


            <div class="module">
                <table summary="Administración de centros.">
                <caption><h2>Organización institucional</h2></caption>


                <!-- Centros -->
                <tr>
                    <th scope="row"><a href="{% url listCentro 'nombre_centro' %}">Centros</a></th>
                    <td><a href="{% url addCentro %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Administradores de centro. -->
                <tr>
                    <th scope="row"><a href="{% url listAdministradorCentro 'correo_electronico' %}">Administradores de centro</a></th>
                    <td><a href="{% url addAdministradorCentro %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Centros - Administradores de centro. -->
                <tr>
                    <th scope="row"><a href="{% url selectCentro_CentroAdministradorCentro %}">Centros - Administradores de centro</a></th>
                    <td><a href="{% url addCentro_administradorCentro '' %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Titulaciones. -->
                <tr>
                    <th scope="row"><a href="{% url selectCentro_Titulacion %}">Titulaciones</a></th>
                    <td><a href="{% url addTitulacion '' %}" class="addlink">Añadir</a></td>
                </tr>

                <!-- Asignaturas. -->
                <tr>
                    <th scope="row"><a href="{% url selectCentro_Asignatura 'list' %}">Asignaturas</a></th>
                    <td><a href="{% url selectCentro_Asignatura 'add' %}" class="addlink">Añadir</a></td>
                </tr>


                <!-- Asignaturas Curso Académico. -->
                <tr>
                    <th scope="row"><a href="{% url selectCentro_AsignaturaCursoAcademico 'list' %}">Asignaturas Curso Académico</a></th>
                    <td><a href="{% url selectCentro_AsignaturaCursoAcademico 'add' %}" class="addlink">Añadir</a></td>
                </tr>

                </table>
            </div>

    {% endblock %}
