{% extends "asesorias/Base/base_inicio.html" %}

	{% block content %}
			<h1>Administrador</h1>


			<div class="module">
				<table summary="Administración de centros.">
				<caption><h2>Centros</h2></caption>


				<!-- Centros -->
				<tr>
					<th scope="row"><a href="../centro/list/">Centros</a></th>
					<td><a href="../centro/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Administradores de centro. -->
				<tr>
					<th scope="row"><a href="../administradorCentro/list/">Administradores de centro</a></th>
					<td><a href="../administradorCentro/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Centros - Administradores de centro. -->
				<tr>
					<th scope="row"><a href="../centro_administradorCentro/list/">Centros - Administradores de centro</a></th>
					<td><a href="../centro_administradorCentro/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Titulaciones. -->
				<tr>
					<th scope="row"><a href="../titulacion/list/">Titulaciones</a></th>
					<td><a href="../titulacion/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Asignaturas. -->
				<tr>
					<th scope="row"><a href="../asignatura/list/">Asignaturas</a></th>
					<td><a href="../asignatura/add/" class="addlink">Añadir</a></td>
				</tr>


				<!-- Asignaturas Curso Académico. -->
				<tr>
					<th scope="row"><a href="../asignaturaCursoAcademico/list/">Asignaturas Curso Académico</a></th>
					<td><a href="../asignaturaCursoAcademico/add/" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

			<div class="module">
				<table summary="Administración de asesores.">
				<caption><h2>Asesores</h2></caption>

				<!-- Departamentos. -->
				<tr>
					<th scope="row"><a href="../departamento/list/">Departamentos</a></th>
					<td><a href="../departamento/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Asesores. -->
				<tr>
					<th scope="row"><a href="../asesor/list/">Asesores</a></th>
					<td><a href="../asesor/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Asesores Curso Académico. -->
				<tr>
					<th scope="row"><a href="../asesorCursoAcademico/list/">Asesores Curso Académico</a></th>
					<td><a href="../asesorCursoAcademico/add/" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

			<div class="module">
				<table summary="Administración de alumnos.">
				<caption><h2>Alumnos</h2></caption>

				<!-- Alumnos. -->
				<tr>
					<th scope="row"><a href="../alumno/list/">Alumnos</a></th>
					<td><a href="../alumno/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Alumnos Curso Académico. -->
				<tr>
					<th scope="row"><a href="../alumnoCursoAcademico/list/">Alumnos Curso Académico</a></th>
					<td><a href="../alumnoCursoAcademico/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Matrículas. -->
				<tr>
					<th scope="row"><a href="../matricula/list/">Matrículas</a></th>
					<td><a href="../matricula/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Calificaciones Convocatoria. -->
				<tr>
					<th scope="row"><a href="../calificacionConvocatoria/list/">Calificaciones Convocatoria</a></th>
					<td><a href="../calificacionConvocatoria/add/" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

			<div class="module">
				<table summary="Administración de reuniones.">
				<caption><h2>Reuniones</h2></caption>

				<!-- Reuniones. -->
				<tr>
					<th scope="row"><a href="../reunion/list/">Reuniones</a></th>
					<td><a href="../reunion/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Reuniones - Preguntas de asesor. -->
				<tr>
					<th scope="row"><a href="../reunion_preguntaAsesor/list/">Reuniónes - Preguntas de asesor</a></th>
					<td><a href="../reunion_preguntaAsesor/add/" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

			<div class="module">
				<table summary="Administración de plantillas.">
				<caption><h2>Plantillas de entrevista</h2></caption>

				<!-- Plantillas de entrevista oficiales. -->
				<tr>
					<th scope="row"><a href="../plantillaEntrevistaOficial/list/">Plantillas de entrevista oficiales</a></th>
					<td><a href="../plantillaEntrevistaOficial/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Preguntas oficiales. -->
				<tr>
					<th scope="row"><a href="../preguntaOficial/list/">Preguntas oficiales</a></th>
					<td><a href="../preguntaOficial/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Plantillas de entrevista de asesor. -->
				<tr>
					<th scope="row"><a href="../plantillaEntrevistaAsesor/list/">Plantillas de entrevista de asesor</a></th>
					<td><a href="../plantillaEntrevistaAsesor/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Preguntas de asesor. -->
				<tr>
					<th scope="row"><a href="../preguntaAsesor/list/">Preguntas de asesor</a></th>
					<td><a href="../preguntaAsesor/add/" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

	{% endblock %}
