<h1>Editar calificación convocatoria.</h1>

{% if not form %}

<p>No existe tal calificación convocatoria.</p>

<a href="../../../../../../../../list">Volver</a>

{% else %}

{{ form.errors }}

<form action="" method="post">
    {% for field in form %}

		<!-- Excluye los campos que forman parte de la clave que se controlarán por software. -->
		{% ifnotequal field.name 'id_centro' %}
		{% ifnotequal field.name 'id_titulacion' %}
		{% ifnotequal field.name 'id_asignatura' %}
		{% ifnotequal field.name 'curso_academico' %}
		{% ifnotequal field.name 'dni_pasaporte' %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
		{% endifnotequal %}
		{% endifnotequal %}
		{% endifnotequal %}
		{% endifnotequal %}
		{% endifnotequal %}

    {% endfor %}
    <p><input type="submit" value="Editar"/></p>
</form>

{% endif %}
