{% extends "asesorias/Base/base_alumnos.html" %}

{% block content %}

    <h1>Lista de calificaciones convocatoria.</h1>

    <div class="form">
        <div><p>Centro: <b>{{ nombre_centro }}</b> <a href={% url selectCentro_CalificacionConvocatoria 'list' %} class="updatelink"></a></p></div>
        <div><p>Titulación (Plan_estudios): <b>{{ nombre_titulacion }} ({{ plan_estudios }})</b> <a href={% url selectTitulacion_CalificacionConvocatoria nombre_centro 'list' %} class="updatelink"></a></p></div>
        <div><p>Asignatura: <b>{{ nombre_asignatura }}</b> <a href={% url selectAsignatura_CalificacionConvocatoria nombre_centro nombre_titulacion plan_estudios 'list' %} class="updatelink"></a></p></div>
        <div><p>Curso académico: <b>{{ curso_academico }}</b> <a href={% url selectAsignaturaCA_CalificacionConvocatoria nombre_centro nombre_titulacion plan_estudios nombre_asignatura  'list' %} class="updatelink"></a></p></div>
        <div><p>Alumno: <b>{{ dni_pasaporte }}</b> <a href={% url selectAlumno_CalificacionConvocatoria nombre_centro nombre_titulacion plan_estudios nombre_asignatura curso_academico 'list' %} class="updatelink"></a></p></div>
    </div>

    <a href="{% url addCalificacionConvocatoria nombre_centro nombre_titulacion plan_estudios nombre_asignatura curso_academico dni_pasaporte %}" class="addlink">Crear nuevo</a>
    <a href="{% url generarPDFListaCalificacionesConvocatoria nombre_centro nombre_titulacion plan_estudios nombre_asignatura curso_academico dni_pasaporte busqueda %}" class="pdflink">Generar PDF</a>

    <div class="search">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Realizar búsqueda.">
                {% for field in form %}
                <tr>
                    <th scope="row"><input type="submit" value="Búsqueda" class="searchlink"/></th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>

        </form>

    </div>

    <div class="module">
        <table summary="Lista de calificaciones convocatoria.">
        <caption><h2>Lista de calificaciones convocatoria{% if busqueda %} (Filtro = {{ busqueda }}){% endif %}</h2></caption>

        {% if not lista_calificaciones %}

        <tr><th scope="row"><p>No existen actualmente calificaciones convocatoria para este alumno en el sistema.</p></th></tr>

        {% else %}

        {% if not busqueda %}
        <tr>
            {% ifequal orden '_convocatoria' %}
            <th colspan="3"><a href={% url listCalificacionConvocatoria nombre_centro nombre_titulacion plan_estudios nombre_asignatura curso_academico dni_pasaporte 'convocatoria' %}>Convocatoria &#11014;</a></th>

            {% else %}
            <th colspan="3"><a href={% url listCalificacionConvocatoria nombre_centro nombre_titulacion plan_estudios nombre_asignatura curso_academico dni_pasaporte '_convocatoria' %}>Convocatoria &#11015;</a></th>

            {% endifequal %}
        </tr>
        {% endif %}

        {% for calificacion in lista_calificaciones %}
        <tr>
            <th scope="row"><a href="{% url editCalificacionConvocatoria calificacion.determinarNombreCentro calificacion.determinarNombreTitulacion calificacion.determinarPlanEstudios calificacion.determinarNombreAsignatura calificacion.curso_academico calificacion.dni_pasaporte calificacion.convocatoria %}">{{ calificacion }}</a></th>
            <td><a href="{% url editCalificacionConvocatoria calificacion.determinarNombreCentro calificacion.determinarNombreTitulacion calificacion.determinarPlanEstudios calificacion.determinarNombreAsignatura calificacion.curso_academico calificacion.dni_pasaporte calificacion.convocatoria %}" class="editlink">Editar</a></td>
            <td><a href="{% url delCalificacionConvocatoria calificacion.determinarNombreCentro calificacion.determinarNombreTitulacion calificacion.determinarPlanEstudios calificacion.determinarNombreAsignatura calificacion.curso_academico calificacion.dni_pasaporte calificacion.convocatoria %}" class="deletelink">Eliminar</a></td>
        </tr>
        {% endfor %}

        {% endif %}

        </table>
    </div>

{% endblock %}
