{% extends "asesorias/Base/base_alumnos.html" %}

{% block content %}

    {% ifequal tipo 'add' %}
    <h1>Añadir calificación convocatoria.</h1>

    {% else %}
    <h1>Lista de calificaciones convocatoria.</h1>

    {% endifequal %}

    <h2>Seleccionar centro.</h2>

    <div class="form">

        <form action="" method="post">

            <div class="fieldWrapper">
                {% for field in form %}
                    <div><p>{{ field.label_tag }}: {{ field }}<a href="{% url addCentro %}" class="addlink" target="_new"></a></p></div>
                    <div><input type="submit" value="OK"/></p></div>
                {% endfor %}
            </div>

        </form>

    </div>

{% endblock %}
