{% extends "asesorias/Base/base.html" %}

    {% block menu %}
                <li><a href="{% url alumno_inicio curso_academico %}" {% block opcion_inicio %}{% endblock %}>Inicio</a></li>
                <li><a href="{% url alumno_informacion_personal curso_academico %}" {% block opcion_informacion_personal %}{% endblock %}>Información personal</a></li>
                <li><a href="{% url alumno_matriculas curso_academico %}" {% block opcion_matriculas %}{% endblock %}>Matrículas</a></li>
                <li><a href="{% url alumno_reuniones curso_academico %}" {% block opcion_reuniones %}{% endblock %}>Reuniones</a></li>
    {% endblock %}

                                {% block curso_academico %}
                                    <div class="etiqueta">
                                        <p>Curso académico:</p>
                                        <p><em><a href="{% url setCursoAcademico_Alumno curso_academico %}">{{ curso_academico }}/{{ curso_academico|add:'1' }}</a></em></p>
                                    </div>
                                {% endblock %}

    {% block elementos_sidebar %}
                            <ul>
                                <li><h3><a href="{% url alumno_informacion_personal curso_academico %}">Información personal</a></h3>
                                    {% block informacion_personal %}{% endblock %}
                                </li>
                                <li><h3><a href="{% url alumno_matriculas curso_academico %}">Matrículas</a></h3>
                                    {% block matriculas %}{% endblock %}
                                </li>
                                <li><h3><a href="{% url alumno_reuniones curso_academico %}">Reuniones</a></h3>
                                    {% block reuniones %}{% endblock %}
                                </li>
                            </ul>
    {% endblock %}

    {% block url_inicio %}<li><a href="{% url alumno_inicio curso_academico %}">Inicio</a></li>{% endblock %}
