{% extends "asesorias/Base/Alumno/base_alumno.html" %}

    <!-- Determina el elemento activo en el menú horizontal -->
    {% block opcion_informacion_personal %}class="active"{% endblock %}

    {% block informacion_personal %}
                                    <ul>
                                        <li><a href="{% url showInfo_Alumno %}">Ver información personal</a></li>
                                        <li><a href="{% url modificarClave_Alumno %}">Modificar contraseña</a></li>
                                    </ul>
    {% endblock %}
