{% extends "asesorias/Base/base_org_institucional.html" %}

{% block content %}

	<h1>Editar centro.</h1>

	{% if not form %}

	<p>No existe tal centro.</p>

	<a href="{% url listCentro %}">Lista de centros</a>

	{% else %}

	{% if form.subject.errors %}
	<ol>
		{% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
		{% endfor %}
	</ol>
	{% endif %}

	<div class="module">

		<form action="" method="post">

			{% for field in form %}
			<div class="fieldWrapper">
				<table summary="Añadir centro.">
				<caption><h2>Editar centro</h2></caption>
				<tr>
					<th scope="row">{{ field.label_tag }}</th>
					<td>{{ field }}</td>
				</tr>
				</table>
			</div>
			{% endfor %}

			<p><input type="submit" value="Confirmar"/></p>
		</form>

	</div>

	{% endif %}

{% endblock %}
