{% extends "asesorias/Base/base_org_institucional.html" %}

{% block content %}

	<h1>Editar centro.</h1>

	{% if not form %}

	<p>No existe tal centro.</p>

	<a href="{% url listCentro 'nombre_centro' %}">Lista de centros</a>

	{% else %}

	{% if form.errors %}
	<div id="form-error">
		<p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
		<ul>
			{% for field in form %}
			<li>{{ field.errors|striptags }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="module">

		<form action="" method="post">

			<div class="fieldWrapper">
				<table summary="Editar centro.">
				<caption><h2>Editar centro</h2></caption>
				{% for field in form %}
				<tr>
					<th scope="row">{{ field.label_tag }}</th>
					<td>{{ field }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>

			<p><input type="submit" value="Confirmar"/></p>
		</form>

	</div>

	{% endif %}

{% endblock %}
