{% extends "asesorias/base.html" %}

{% block content %}
	<h1>Lista de centros.</h1>

	<a href="../add">Crear nuevo</a>

	{% if not lista_centros %}

	<p>No existen actualmente centros en el sistema.</p>

	{% else %}

		<div class="module">
			<table summary="Lista de centros.">
			<caption><a href="" class="section">Lista de centros</a></caption>

			<!-- Centros -->
			{% for centro in lista_centros %}
			<tr>
				<th scope="row"><a href="../{{ centro.nombre_centro }}/edit">{{ centro.nombre_centro }}</a></th>
				<td><a href="../{{ centro.nombre_centro }}/del" class="deletelink">Eliminar</a></td>
			</tr>
			{% endfor %}

			</table>
		</div>

	{% endif %}

{% endblock %}