{% extends "asesorias/Base/Asesor/reuniones.html" %}

    {% block content %}
            <h1>Asesor</h1>

            <div class="module">
                <table summary="Reuniones.">
                <caption><h2>Reuniones</h2></caption>

                <!-- Ver reuniones -->
                <tr>
                    <th scope="row"><a href="{% url listReunion_Asesor curso_academico 'fecha' %}">Ver reuniones</a></th>
                </tr>

                <!-- Crear reunión individual -->
                <tr>
                    <th scope="row"><a href="{% url selectAlumno_Asesor curso_academico %}">Crear reunión individual</a></th>
                </tr>

                <!-- Crear reunión grupal -->
                <tr>
                    <th scope="row"><a href="{% url addReunionGrupal_Asesor curso_academico 'null' %}">Crear reunión grupal</a></th>
                </tr>

                </table>
            </div>

    {% endblock %}
