{% extends "asesorias/Base/Asesor/informacion_personal.html" %}

    {% block content %}
            <h1>Asesor</h1>

            <div class="module">
                <table summary="Información personal.">
                <caption><h2>Información personal</h2></caption>

                <!-- Ver información personal -->
                <tr>
                    <th scope="row"><a href="{% url showInfo_Asesor %}">Ver información personal</a></th>
                </tr>

                </table>
            </div>

    {% endblock %}
