{% extends "asesorias/Base/Asesor/inicio.html" %}

    {% block content %}
            <h1>Asesor</h1>

            <div class="module">
                <table summary="Información personal.">
                <caption><h2>Información personal</h2></caption>

                <!-- Ver información personal -->
                <tr>
                    <th scope="row"><a href="{% url showInfo_Asesor curso_academico %}">Ver información personal</a></th>
                </tr>

                <!-- Modificar contraseña -->
                <tr>
                    <th scope="row"><a href="{% url modificarClave_Asesor curso_academico %}">Modificar contraseña</a></th>
                </tr>

                </table>
            </div>

            <div class="module">
                <table summary="Alumnos.">
                <caption><h2>Alumnos</h2></caption>

                <!-- Ver alumnos -->
                <tr>
                    <th scope="row"><a href="{% url showAlumnos_Asesor curso_academico 'nombre' %}">Ver alumnos</a></th>
                </tr>

                </table>
            </div>

            <div class="module">
                <table summary="Plantillas.">
                <caption><h2>Plantillas</h2></caption>

                <!-- Ver plantillas oficiales -->
                <tr>
                    <th scope="row"><a href="{% url listPlantillasOficiales_Asesor curso_academico 'descripcion' %}">Ver plantillas oficiales</a></th>
                </tr>

                </table>
            </div>

    {% endblock %}
