{% extends "asesorias/Base/Asesor/informacion_personal.html" %}

    {% block content %}
            <h1>Asesor</h1>

            <div class="module">
                <table summary="Información personal.">
                <caption><h2>Información personal</h2></caption>

                <!-- Departamentos. -->
<!--
                <tr>
                    <th scope="row"><a href="{% url listDepartamento 'nombre_departamento' %}">Departamentos</a></th>
                    <td><a href="{% url addDepartamento %}" class="addlink">Añadir</a></td>
                </tr>
-->

                </table>
            </div>

    {% endblock %}
