{% extends "asesorias/Base/Asesor/plantillas.html" %}

{% block content %}

    <h1>Ver plantillas de asesor.</h1>

    <a href="{% url addPlantillaEntrevistaAsesor_Asesor curso_academico %}" class="addlink">Crear nuevo</a>
    <a href="{% url generarPDFListaPlantillasEntrevistaAsesor_Asesor curso_academico busqueda %}" class="pdflink">Generar PDF</a>

    <div class="search">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Realizar búsqueda.">
                {% for field in form %}
                <tr>
                    <th scope="row"><input type="submit" value="Búsqueda" class="searchlink"/></th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>

        </form>

    </div>

    <div class="module">
        <table summary="Lista de plantillas de asesor.">
        <caption><h2>Lista de plantillas de asesor{% if busqueda %} (Filtro = {{ busqueda }}){% endif %}</h2></caption>

        {% if not lista_plantillas_entrevista_asesor %}

        <tr><th scope="row"><p>No existen actualmente plantillas de asesor en el sistema para este asesor.</p></th></tr>

        {% else %}

        {% if not busqueda %}
        <tr>
            {% ifequal orden '_descripcion' %}
            <th colspan="3"><a href={% url listPlantillasAsesor_Asesor curso_academico 'descripcion' %}>Descripción &#11014;</a></th>
            {% else %}
            <th colspan="3"><a href={% url listPlantillasAsesor_Asesor curso_academico '_descripcion' %}>Descripción &#11015;</a></th>
            {% endifequal %}
        </tr>
        {% endif %}

         <!-- Plantillas de entrevista de asesor -->
        {% for plantilla_entrevista_asesor in lista_plantillas_entrevista_asesor %}
        <tr>
            <th scope="row"><a href="{% url listPreguntaAsesor_Asesor curso_academico plantilla_entrevista_asesor.id_entrevista_asesor 'enunciado' %}">{{ plantilla_entrevista_asesor }}</a></th>
            <td><a href="{% url listPreguntaAsesor_Asesor curso_academico plantilla_entrevista_asesor.id_entrevista_asesor 'enunciado' %}" class="searchlink2">Ver</a></td>
            <td><a href="{% url delPlantillaEntrevistaAsesor_Asesor curso_academico plantilla_entrevista_asesor.id_entrevista_asesor %}" class="deletelink">Eliminar</a></td>
        </tr>
        {% endfor %}

        {% endif %}

        </table>
    </div>

{% endblock %}
