{% extends "asesorias/Base/Asesor/reuniones.html" %}

{% block content %}

    <h1>Ver reuniones.</h1>

    <a href="{# url generarPDFListaAlumnos_Asesor curso_academico busqueda #}" class="pdflink">Generar PDF</a>

    <div class="search">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Realizar búsqueda.">
                {% for field in form %}
                <tr>
                    <th scope="row"><input type="submit" value="Búsqueda" class="searchlink"/></th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>

        </form>

    </div>

    <div class="module">
        <table summary="Lista de reuniones.">
        <caption><h2>Lista de reuniones{% if busqueda %} (Filtro = {{ busqueda }}){% endif %}</h2></caption>

        {% if not lista_reuniones %}

        <tr><th scope="row"><p>No existen actualmente reuniones de este asesor para este curso académico.</p></th></tr>

        {% else %}

        {% if not busqueda %}
        <tr>
            {% ifequal orden '_fecha' %}
            <th colspan="3"><a href={% url listReunion_Asesor curso_academico 'fecha' %}>Fecha &#11014;</a></th>

            {% else %}
            <th colspan="3"><a href={% url listReunion_Asesor curso_academico '_fecha' %}>Fecha &#11015;</a></th>

            {% endifequal %}
        </tr>
        {% endif %}

        <!-- Reuniones -->
        {% for reunion in lista_reuniones %}
        <tr>
            <th scope="row"><a href="{% url showReunion_Asesor curso_academico reunion.dni_pasaporte reunion.id_reunion %}">{{ reunion }} : {{ reunion.determinarNombreAlumno }} {{ reunion.determinarApellidosAlumno }}</th>
            <td><a href="{# url showAlumno_Asesor curso_academico alumno.dni_pasaporte_alumno #}" class="searchlink2">Ver</a></td>
            <td><a href="{% url delReunion_Asesor curso_academico reunion.dni_pasaporte reunion.id_reunion %}" class="deletelink">Eliminar</td>
        </tr>
        {% endfor %}

        {% endif %}

        </table>
    </div>

{% endblock %}
