{% extends "asesorias/Base/Asesor/reuniones.html" %}

{% block content %}

    <h1>Añadir reunión grupal.</h1>

    <h2>Seleccionar alumnos.</h2>

    {% if lista_disponibles %}
    <div class="module">
        <table summary="Alumnos disponibles.">
        <caption><h2>Alumnos disponibles</h2></caption>

        {% for alumno in lista_disponibles %}
        <tr>
            <th scope="row">{{ alumno.dni_pasaporte_alumno }} : {{ alumno.nombre }} {{ alumno.apellidos }}</th>
            <td><a href="{% url addAlumnoAReunionGrupal curso_academico lista_alumnos alumno.dni_pasaporte_alumno_id %}" class="addlink">Añadir</a></td>
        </tr>
        {% endfor %}

        </table>
    </div>
    {% endif %}

    {% if lista_participantes %}
    <div class="module">
        <table summary="Alumnos participantes.">
        <caption><h2>Alumnos participantes</h2></caption>

        {% for alumno in lista_participantes %}
        <tr>
            <th scope="row">{{ alumno.dni_pasaporte_alumno }} : {{ alumno.nombre }} {{ alumno.apellidos }}</th>
            <td><a href="{% url delAlumnoAReunionGrupal curso_academico lista_alumnos alumno.dni_pasaporte_alumno_id %}" class="deletelink">Eliminar</a></td>
        </tr>
        {% endfor %}

        </table>
    </div>
    {% endif %}

{% endblock %}
