{% extends "asesorias/Base/Asesor/reuniones.html" %}

{% block content %}

    <h1>Ver reunión.</h1>

    {% if form %}

    <a href="{# url generarPDFListaAlumnos_Asesor curso_academico busqueda #}" class="pdflink">Generar PDF</a>

    <div class="module">
        <table summary="Ver reunión.">
        <caption><h2>Ver reunión{% if reunion %} ({{ reunion }}){% endif %}</h2></caption>

        {% if not reunion %}

        <tr><th scope="row"><p>No existen actualmente tal reunión de este asesor para este curso académico.</p></th></tr>

        {% else %}

        {% for field in form %}
        {% ifnotequal field.name 'id_reunion' %}
        {% ifnotequal field.name 'curso_academico' %}
        <tr>
            <th scope="row">{{ field.label_tag }}</th>
            <td>{{ field }}</td>
        </tr>
        {% endifnotequal %}
        {% endifnotequal %}
        {% endfor %}

        </table>
    </div>

    <div>
        <a href="{% url addPlantillaAReunion curso_academico reunion.dni_pasaporte reunion.id_reunion '' '' %}" class="addlink">Añadir plantilla</a>
    </div>

    <div>
        <a href="{% url addPreguntaAReunion curso_academico reunion.dni_pasaporte reunion.id_reunion %}" class="addlink">Añadir pregunta</a>
    </div>

    <div class="module">
        <table summary="Preguntas.">
        <caption><h2>Preguntas</h2></caption>

        {% if not preguntas_reunion %}

        <tr><th scope="row"><p>No existen preguntas para esta reunión de asesor.</p></th></tr>

        {% else %}

        <!-- Preguntas -->
        {% for pregunta in preguntas_oficiales %}
        <tr>
            <th scope="row">P: {{ pregunta.determinarEnunciado }}</th>
            <td><a href="{% url delPreguntaOficialAReunion curso_academico reunion.dni_pasaporte reunion.id_reunion pregunta.id_entrevista_oficial pregunta.id_pregunta_oficial %}" class="deletelink">Eliminar</a></td>
        </tr>
        <tr>
            <th scope="row">R: {{ pregunta.respuesta }}</th>
        </tr>
        {% endfor %}

        {% for pregunta in preguntas_asesor %}
        <tr>
            <th scope="row">P: {{ pregunta.determinarEnunciado }}</th>
            <td><a href="{# url delPreguntaAsesorAReunion curso_academico reunion.dni_pasaporte reunion.id_reunion pregunta.id_entrevista_oficial pregunta.id_pregunta_oficial #}" class="deletelink">Eliminar</a></td>
        </tr>
        <tr>
            <th scope="row">R: {{ pregunta.respuesta }}</th>
        </tr>
        {% endfor %}

        {% endif %}
        {% endif %}

        </table>
    </div>

    {% else %}
    <p>No existe tal reunión</p>
    {% endif %}

    <div><a href="{% url listReunion_Asesor curso_academico 'fecha' %}">Volver</a></div>

{% endblock %}
