{% extends "asesorias/Base/Asesor/reuniones.html" %}

{% block content %}

    <h1>Ver reunión grupal.</h1>

    <a href="{# url generarPDFListaAlumnos_Asesor curso_academico busqueda #}" class="pdflink">Generar PDF</a>

    <div class="module">
        <table summary="Alumnos participantes.">
        <caption><h2>Alumnos participantes</h2></caption>

        {% for alumno in lista_participantes %}
        <tr>
            <th scope="row">{{ alumno.dni_pasaporte_alumno }} : {{ alumno.nombre }} {{ alumno.apellidos }}</th>
            <td><a href="{# url delAlumnoAReunionGrupal curso_academico lista_alumnos alumno.dni_pasaporte_alumno_id #}" class="deletelink">Eliminar</a></td>
        </tr>
        {% endfor %}

        </table>
    </div>

    <div>
        <a href="{% url addPlantillaAReunionGrupal curso_academico fecha '' '' %}" class="addlink">Añadir plantilla/pregunta</a>
    </div>

    <div class="module">
        <table summary="Preguntas.">
        <caption><h2>Preguntas</h2></caption>

        {% if not preguntas_reunion %}

        <tr><th scope="row"><p>No existen preguntas para esta reunión de asesor.</p></th></tr>

        {% else %}

        <!-- Preguntas -->
        {% for pregunta in preguntas_oficiales %}
        <tr>
            <th scope="row">P: {{ pregunta.determinarEnunciado }}</th>
            <td><a href="{% url delPreguntaOficialAReunionGrupal curso_academico fecha pregunta.id_entrevista_oficial pregunta.id_pregunta_oficial %}" class="deletelink">Eliminar</a></td>
        </tr>
        {% endfor %}

        {% for pregunta in preguntas_asesor %}
        <tr>
            <th scope="row">P: {{ pregunta.determinarEnunciado }}</th>
            <td><a href="{% url delPreguntaAsesorAReunionGrupal curso_academico fecha pregunta.id_entrevista_asesor pregunta.id_pregunta_asesor %}" class="deletelink">Eliminar</a></td>
        </tr>
        {% endfor %}

        {% endif %}
        </table>
    </div>

    <div><a href="{% url listReunion_Asesor curso_academico 'fecha' %}">Volver</a></div>

{% endblock %}
