{% extends "asesorias/Base/Asesor/alumnos.html" %}

{% block content %}

    <h1>Ver alumnos.</h1>

    <a href="{# url prueba #}" class="pdflink">Generar PDF</a>

    <div class="search">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Realizar búsqueda.">
                {% for field in form %}
                <tr>
                    <th scope="row"><input type="submit" value="Búsqueda" class="searchlink"/></th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>

        </form>

    </div>

    <div class="module">
        <table summary="Lista de alumnos.">
        <caption><h2>Lista de alumnos{% if busqueda %} (Filtro = {{ busqueda }}){% endif %}</h2></caption>

        {% if not lista_alumnosCA %}

        <tr><th scope="row"><p>No existen actualmente alumnos a los que preste asesoría en este curso académico.</p></th></tr>

        {% else %}

        {% if not busqueda %}
        <tr>
            {% ifequal orden '_nombre_alumno' %}
            <th colspan="3"><a href={% url showAlumnos_Asesor curso_academico %}>Nombre : Apellidos &#11014;</a></th>
            {% else %}
            <th colspan="3"><a href={% url showAlumnos_Asesor curso_academico %}>Nombre : Apellidos &#11015;</a></th>
            {% endifequal %}
        </tr>
        {% endif %}

        <!-- Alumnos -->
        {% for alumno in lista_alumnosCA %}
        <tr>
            <th scope="row"><a href="">{{ alumno.dni_pasaporte_alumno.nombre }} : {{ alumno.dni_pasaporte_alumno.apellidos }}</th>
            <td><a href="#" class="searchlink2">Ver</a></td>
            <td><a href="#" class="addlink">Reunión</td>
        </tr>
        {% endfor %}

        {% endif %}

        </table>
    </div>

{% endblock %}
