{% extends "asesorias/Base/Asesor/base_asesor.html" %}

    <!-- Determina el elemento activo en el menú horizontal -->
    {% block opcion_reuniones %}class="active"{% endblock %}

    {% block reuniones %}
                                    <ul>
                                        <li><a href="{% url listReunion_Asesor curso_academico 'fecha' %}">Ver reuniones</a></li>
                                        <li><a href="{% url selectAlumno_Asesor curso_academico %}">Crear reunión individual</a></li>
                                        <li><a href="{% url addReunionGrupal_Asesor curso_academico '' %}">Crear reunión grupal</a></li>
                                    </ul>
    {% endblock %}
