{% extends "asesorias/Base/base_org_institucional.html" %}

{% block content %}

	<h1>Añadir titulación.</h1>

	{% if form.errors %}
	<div id="form-error">
		<p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
		<ul>
			{% for field in form %}
			<li>{{ field.errors|striptags }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="module">

		<form action="" method="post">

			<div class="fieldWrapper">
				<table summary="Añadir titulación.">
				<caption><h2>Añadir titulación</h2></caption>

				{% for field in form %}

				{# Excluye el campo id_titulacion que se controlará por software. #}
				{% ifnotequal field.name 'id_titulacion' %}
				<tr>
					<th scope="row">{{ field.label_tag }}</th>
					<td>{{ field }}</td>
				</tr>
				{% endifnotequal %}

				{% endfor %}
				</table>
			</div>

			<p><input type="submit" value="Confirmar"/></p>
		</form>

	</div>

{% endblock %}
