{% extends "asesorias/Base/AdministradorPrincipal/org_institucional.html" %}

{% block content %}

    <h1>Eliminar titulación.</h1>

    {% if not form %}

    <p>No existe tal titulación.</p>

    {% else %}

        {% if form.errors %}
        <div id="form-error">
            <p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
            <ul>
                {% for field in form %}
                    {% if field.errors %}<li><em>{{ field.label_tag }}</em>: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
                {% if form.non_field_errors %}{{ form.non_field_errors}}{% endif %}
            </ul>
        </div>
        {% endif %}

        <div class="module">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Realizar confirmación.">
                <caption><h2>Realizar confirmación</h2></caption>
                {% for field in form %}
                <tr>
                    <th scope="row">{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>

            <p><input type="submit" value="Confirmar"/></p>
        </form>

    </div>

    {% endif %}

{% endblock %}
