<h1>Editar titulación.</h1>

{% if not form %}

<p>No existe tal titulación.</p>

<a href="../../../../list">Volver</a>

{% else %}

{{ form.errors }}

<form action="" method="post">
    {% for field in form %}

		<!-- Excluye el campo id_titulacion que se controlará por software. -->
		{% ifnotequal field.name 'id_titulacion' %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
		{% endifnotequal %}

    {% endfor %}
    <p><input type="submit" value="Editar"/></p>
</form>

{% endif %}
