{% extends "asesorias/Base/AdministradorPrincipal/base_administrador_principal.html" %}

    <!-- Determina el elemento activo en el menú horizontal -->
    {% block opcion_org_institucional %}class="active"{% endblock %}

    {% block org_institucional %}
                                    <ul>
                                        <li><a href="{% url listCentro 'nombre_centro' %}">Centros</a></li>
                                        <li><a href="{% url listAdministradorCentro 'correo_electronico' %}">Administradores de centro</a></li>
                                        <li><a href="{% url selectCentro_CentroAdministradorCentro %}">Centros - Administradores de centro</a></li>
                                        <li><a href="{% url selectCentro_Titulacion %}">Titulaciones</a></li>
                                        <li><a href="{% url selectCentro_Asignatura 'list' %}">Asignaturas</a></li>
                                        <li><a href="{% url selectCentro_AsignaturaCursoAcademico 'list' %}">Asignaturas Curso Académico</a></li>
                                    </ul>
    {% endblock %}
