{% extends "asesorias/Base/AdministradorPrincipal/base_administrador_principal.html" %}

    <!-- Determina el elemento activo en el menú horizontal -->
    {% block opcion_reuniones %}class="active"{% endblock %}

    {% block reuniones %}
                                    <ul>
                                        <li><a href="{% url selectAsesor_Reunion 'list' %}">Reuniones</a></li>
                                        <li><a href="{% url selectAsesor_Reunion_preguntaAsesor 'list' %}">Reuniones - Pregunta Asesor</a></li>
                                        <li><a href="{% url selectAsesor_Reunion_preguntaOficial 'list' %}">Reuniones - Pregunta Oficial</a></li>
                                    </ul>
    {% endblock %}
