{% extends "asesorias/Base/base_alumnos.html" %}

{% block content %}

	<h1>Editar alumno.</h1>

	{% if not form %}

	<p>No existe tal alumno.</p>

	<a href="{% url listAsesor 'nombre_asesor' %}">Lista de alumnos</a>

	{% else %}

	{% if form.errors %}
	<div id="form-error">
		<p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
		<ul>
			{% for field in form %}
				{% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
			{% endfor %}
			{% if form.non_field_errors %}{{ form.non_field_errors}}{% endif %}
		</ul>
	</div>
	{% endif %}

	<div class="module">

		<form action="" method="post">

			<div class="fieldWrapper">
				<table summary="Editar alumno.">
				<caption><h2>Editar asesor</h2></caption>
				{% for field in form %}
				<tr>
					<th scope="row">{{ field.label_tag }}</th>
					<td>{{ field }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>

			<p><input type="submit" value="Confirmar"/></p>
		</form>

	</div>

	{% endif %}

{% endblock %}
