{% extends "asesorias/base.html" %}

	{% block content %}
			<h1>Administrador.</h1>


			<div class="module">
				<table summary="Administración del sistema.">
				<caption><a href="asesorias/" class="section">Asesorías</a></caption>


				<!-- Centros -->
				<tr>
					<th scope="row"><a href="../centro/list/">Centros</a></th>
					<td><a href="../centro/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Administradores de centro. -->
				<tr>
					<th scope="row"><a href="../administradorCentro/list/">Administradores de centro</a></th>
					<td><a href="../administradorCentro/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Titulaciones. -->
				<tr>
					<th scope="row"><a href="../titulacion/list/">Titulaciones</a></th>
					<td><a href="../titulacion/add/" class="addlink">Añadir</a></td>
				</tr>

				<!-- Asignaturas. -->
				<tr>
					<th scope="row"><a href="../asignatura/list/">Asignaturas</a></th>
					<td><a href="../asignatura/add/" class="addlink">Añadir</a></td>
				</tr>


				<!-- Asignaturas Curso Académico. -->
				<tr>
					<th scope="row"><a href="../asignaturaCursoAcademico/list/">Asignaturas Curso Académico</a></th>
					<td><a href="../asignaturaCursoAcademico/add/" class="addlink">Añadir</a></td>
				</tr>

				</table>
			</div>

<!--			<ul>
				<li><a href="../departamento/list">Departamentos.</a></li>
				<li><a href="../asesor/list">Asesores.</a></li>
				<li><a href="../asesorCursoAcademico/list">Asesores Curso Académico.</a></li>
				<li><a href="../plantillaEntrevistaAsesor/list">Plantillas de entrevista de asesor.</li>
				<li><a href="../preguntaAsesor/list">Preguntas de asesor.</li>
				<li><a href="../alumno/list">Alumnos.</a></li>
				<li><a href="../alumnoCursoAcademico/list">Alumnos Curso Académico.</a></li>
				<li><a href="../matricula/list">Matrículas.</a></li>
				<li><a href="../calificacionConvocatoria/list">Calificaciones convocatoria.</a></li>
				<li><a href="../plantillaEntrevistaOficial/list">Plantillas de entrevista oficiales.</a></li>
				<li><a href="../preguntaOficial/list">Preguntas oficiales.</a></li>
				<li><a href="../reunion/list">Reuniones.</a></li>
				<li><a href="../centro_administradorCentro/list">Centros-administradorCentro.</a></li>
				<li><a href="../reunion_preguntaAsesor/list">Reuniones-preguntasAsesor.</a></li>
			</ul>-->
	{% endblock %}
