{% extends "asesorias/Base/base.html" %}

    <!-- Determina el elemento activo en el menú horizontal -->
    {% block opcion_inicio %}class="active"{% endblock %}

    {% block url_inicio %}<li><a href="{% url administrador_inicio %}">Inicio</a></li>{% endblock %}

    {% block content %}
    <h1>Asesor: {{ asesor }}</h1>

    <ul>
        <li>dni_pasaporte: {{ asesor.dni_pasaporte }}</li>
        <li>correo electrónico: {{ asesor.correo_electronico }}</li>
        <li>nombre: {{ asesor.nombre }}</li>
        <li>apellidos: {{ asesor.apellidos }}</li>
        <li>teléfono: {{ asesor.telefono }}</li>
    </ul>

    {% endblock %}
