<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<link type="text/css" rel="stylesheet" href="http://localhost/media/css/base.css" />
	<title>{% block title %}Asesorías Académicas.{% endblock %}</title>
</head>

<body>
	<!-- Container -->
	<div id="container">

		<!-- Header -->
		<div id="header">
			{% block header %}
			<h1>Asesorías Académicas</h1>
			{% endblock %}
		</div>

		<!-- Content -->
		<div id="content">

			<!-- Sidebar -->
			<div id="sidebar">
				{% block sidebar %}
				<div class="module" id="menu">
					<h2>Menú</h2>
					<h3>Sesión</h3>
					<a href="http://localhost:8000/asesorias/administrador/">Inicio</a><br>
					<a href="http://localhost:8000/asesorias/logout/">Salir</a>
				</div>
				{% endblock %}
			</div>

			<!-- Content-main -->
			<div id="content-main">
				{% block content %}
				{% endblock %}
			</div>

		</div>

		<!-- Footer -->
		<div id="footer">
			{% block footer %}
			{% endblock %}
		</div>

	</div>
</body>
</html>

