{% extends "asesorias/Base/base.html" %}

	<!-- Establece el login del usuario. -->
	{% block username %}{{ administrador }}{% endblock %}

	<!-- Determina el elemento activo en el menú horizontal -->
	{% block opcion_reuniones %}class="active"{% endblock %}

	{% block reuniones %}
									<ul>
										<li><a href="http://localhost:8000/asesorias/reunion/list">Reuniones</a></li>
										<li><a href="http://localhost:8000/asesorias/reunion_preguntaAsesor/list">Reuniones - Pregunta Asesor</a></li>
									</ul>
	{% endblock %}
