{% extends "asesorias/Base/base.html" %}

    <!-- Establece el login del usuario. -->
    {% block username %}{{ user }}{% endblock %}

    <!-- Determina el elemento activo en el menú horizontal -->
    {% block opcion_reuniones %}class="active"{% endblock %}

    {% block reuniones %}
                                    <ul>
                                        <li><a href="{% url selectAlumno_Reunion %}">Reuniones</a></li>
                                        <li><a href="{% url listReunion_preguntaAsesor %}">Reuniones - Pregunta Asesor</a></li>
                                    </ul>
    {% endblock %}
