{% extends "asesorias/Base/base.html" %}

	<!-- Establece el login del usuario. -->
	{% block username %}{{ user }}{% endblock %}

	<!-- Determina el elemento activo en el menú horizontal -->
	{% block opcion_org_docente %}class="active"{% endblock %}

	{% block org_docente %}
									<ul>
										<li><a href="{% url listDepartamento 'nombre_departamento'  %}">Departamentos</a></li>
										<li><a href="{% url listAsesor 'nombre_asesor' %}">Asesores</a></li>
										<li><a href="{% url selectAsesor_AsesorCursoAcademico %}">Asesores Curso Académico</a></li>
									</ul>
	{% endblock %}
