{% extends "asesorias/Base/base.html" %}

    <!-- Establece el login del usuario. -->
    {% block username %}{{ user }}{% endblock %}

    <!-- Determina el elemento activo en el menú horizontal -->
    {% block opcion_plantillas %}class="active"{% endblock %}

    {% block plantillas %}
                                    <ul>
                                        <li><a href="{% url listPlantillaEntrevistaOficial 'descripcion' %}">Plantillas de entrevista oficiales</a></li>
                                        <li><a href="{% url selectEntrevistaOficial_PreguntaOficial %}">Preguntas oficiales</a></li>
                                        <li><a href="{% url selectAsesor_PlantillaEntrevistaAsesor 'list' %}">Plantillas de entrevista de asesor</a></li>
                                        <li><a href="{% url listPreguntaAsesor %}">Preguntas de asesor</a></li>
                                    </ul>
    {% endblock %}
