{% extends "asesorias/Base/base.html" %}

	<!-- Establece el login del usuario. -->
	{% block username %}{{ user }}{% endblock %}

	<!-- Determina el elemento activo en el menú horizontal -->
	{% block opcion_org_institucional %}class="active"{% endblock %}

	{% block org_institucional %}
									<ul>
										<li><a href="{% url listCentro 'nombre_centro' %}">Centros</a></li>
										<li><a href="{% url listAdministradorCentro 'nombre_adm_centro' %}">Administradores de centro</a></li>
										<li><a href="{% url listCentro_administradorCentro %}">Centros - Administradores de centro</a></li>
										<li><a href="{% url listTitulacion %}">Titulaciones</a></li>
										<li><a href="{% url listAsignatura %}">Asignaturas</a></li>
										<li><a href="{% url listAsignaturaCursoAcademico %}">Asignaturas Curso Académico</a></li>
									</ul>
	{% endblock %}
