<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang='es' xml:lang='es' xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="http://localhost/media/css/base.css" />
    <title>{% block title %}Asesorías Académicas.{% endblock %}</title>
</head>

<body>
    <!-- Container -->
    <div id="container">

        <!-- Header -->
        <div id="header">
            {% block header %}
            <div id="logo">
                <a href="http://www.uco.es/"><img src="http://localhost/media/img/uco.gif" alt="Logo de la universidad de Córdoba"/></a>
            </div>
            <h1>Asesorías Académicas</h1>
            {% endblock %}
        </div>

        <!-- Menú horizontal -->
        <div id="hmenu">
            <ul id="menu">
                {% block menu %}
                {% endblock %}
            </ul>
        </div>

        <!-- Content -->
        <div id="content">

            <!-- Sidebar -->
            <div id="sidebar">
                {% block sidebar %}
                <div class="module">
                    <ul>
                        <li><h2>Sesión</h2>
                            <ul>
                                <li>
                                    {% block usuario %}
                                    <div class="etiqueta">
                                        <p>Usuario:</p>
                                        <p><em>{{ user }}</em></p>
                                    </div>
                                    {% endblock %}
                                    {% block curso_academico %}{% endblock %}
                                    {% block centro %}{% endblock %}
                                    <ul>
                                        {% block url_inicio %}{% endblock %}
                                        <li><a href="{% url logout %}">Salir</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="module">
                    <ul>
                        <li><h2>Asesorías Académicas</h2>
                            {% block elementos_sidebar %}
                            {% endblock %}
                        </li>
                    </ul>
                </div>
                {% endblock %}
            </div>

            <!-- Content-main -->
            <div id="content-main">
                {% block content %}
                {% endblock %}
            </div>

        </div>

        <!-- Footer -->
        <div id="footer">
            {% block footer %}
            {% now "j \de F \de Y" %}
            {% endblock %}
        </div>

    </div>
</body>
</html>

