{% extends "asesorias/Base/AdministradorPrincipal/alumnos.html" %}

{% block content %}

    <h1>Editar pregunta de asesor.</h1>

    <div class="form">
        <div><p>Asesor: <b>{{ dni_pasaporte }}</b></p></div>
        <div><p>Curso académico: <b>{{ curso_academico }}</b></p></div>
        <div><p>Plantilla de entrevista de asesor: <b>{{ entrevista_asesor }}</b></p></div>
    </div>

    {% if not form %}

    <p>No existe tal pregunta de asesor.</p>

    <a href="{% url selectAsesor_PreguntaAsesor 'list' %}">Volver</a>

    {% else %}

    {% if form.errors %}
    <div id="form-error">
        <p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
        <ul>
            {% for field in form %}
                {% if field.errors %}<li><em>{{ field.label_tag }}</em>: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
            {% if form.non_field_errors %}{{ form.non_field_errors}}{% endif %}
        </ul>
    </div>
    {% endif %}

    <div class="module">

        <form action="" method="post">

            <div class="fieldWrapper">
                <table summary="Editar pregunta de asesor.">
                <caption><h2>Editar pregunta de asesor</h2></caption>

                {% for field in form %}

                <!-- Excluye los campos que forman parte de la clave que se controlarán por software. -->
                {% ifnotequal field.name 'dni_pasaporte' %}
                {% ifnotequal field.name 'curso_academico' %}
                {% ifnotequal field.name 'id_entrevista_asesor' %}
                {% ifnotequal field.name 'id_pregunta_asesor' %}
                <tr>
                    <th scope="row">{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endifnotequal %}
                {% endifnotequal %}
                {% endifnotequal %}
                {% endifnotequal %}

                {% endfor %}
                </table>
            </div>

            <p><input type="submit" value="Confirmar"/></p>
        </form>

    </div>

    {% endif %}

{% endblock %}
