{% extends "asesorias/Base/base_plantillas.html" %}

{% block content %}

    {% ifequal tipo 'add' %}
    <h1>Añadir pregunta de asesor.</h1>

    {% else %}
    <h1>Lista de preguntas de asesor.</h1>

    {% endifequal %}

    <h2>Seleccionar asignatura.</h2>

    <div class="form">
        <div><p>Asesor: <b>{{ dni_pasaporte }}</b> <a href={% url selectAsesor_PreguntaAsesor tipo %} class="updatelink"></a></p></div>
        <div><p>Curso académico: <b>{{ curso_academico }}</b> <a href={% url selectAsesorCA_PreguntaAsesor dni_pasaporte tipo %} class="updatelink"></a></p></div>
    </div>

    <div class="form">

        <form action="" method="post">

            <div class="fieldWrapper">
                {% for field in form %}
                    <div><p>{{ field.label_tag }}: {{ field }}<a href="{% url addPlantillaEntrevistaAsesor dni_pasaporte curso_academico %}" class="addlink" target="_new"></a></p></div>
                    <div><input type="submit" value="OK"/></p></div>
                {% endfor %}
            </div>

        </form>

    </div>

{% endblock %}
