{% extends "asesorias/Base/base_org_institucional.html" %}

{% block content %}

	<h1>Lista de centros-administrador de centro.</h1>

	<a href="{% url addCentro_administradorCentro %}" class="addlink">Crear nuevo</a>
	<a href="{% url generarPDFListaCentros_administradorCentro %}" class="pdflink">Generar PDF</a>

	<div class="module">
		<table summary="Lista de centros-administrador de centro.">
		<caption><h2>Lista de centros-administrador de centro</h2></caption>

		{% if not lista_centros_administradorCentro %}

		<tr><th scope="row"><p>No existen actualmente centros-administrador de centro en el sistema.</p></th></tr>

		{% else %}

		<tr>
			<th>Centro : Administrador de centro</th>
		</tr>

		<!-- Centros-Administrador de centro -->
		{% for centro_administradorCentro in lista_centros_administradorCentro %}
		<tr>
			<th scope="row"><a href="{% url editCentro_administradorCentro centro_administradorCentro.id_centro centro_administradorCentro.id_adm_centro %}">{{ centro_administradorCentro }}</a></th>
			<td><a href="{% url editCentro_administradorCentro centro_administradorCentro.id_centro centro_administradorCentro.id_adm_centro %}" class="editlink">Editar</a></td>
			<td><a href="{% url delCentro_administradorCentro centro_administradorCentro.id_centro centro_administradorCentro.id_adm_centro %}" class="deletelink">Eliminar</a></td>
		</tr>
		{% endfor %}

		{% endif %}

		</table>
	</div>

{% endblock %}
