<h1>Lista de centros-administrador de centro.</h1>

<a href="../add">Crear nuevo</a>

{% if error %}

{{ error }}

{% else %}

	{% for centro_administradorCentro in lista_centros_administradorCentro %}
		<ul>
			<li>{{ centro_administradorCentro }}</li>
			<a href="../{{ centro_administradorCentro.id_centro }}/{{ centro_administradorCentro.id_adm_centro }}/edit">Editar</a>
			<a href="../{{ centro_administradorCentro.id_centro }}/{{ centro_administradorCentro.id_adm_centro }}/del">Eliminar</a>
		</ul>
	{% endfor %}

{% endif %}
