{% extends "asesorias/Base/base_org_institucional.html" %}

{% block content %}

	<h1>Añadir administrador centro.</h1>

	{% if form.errors %}
	<div id="form-error">
		<p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
		<ul>
			{% for field in form %}
			<li>{{ field.errors|striptags }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="module">

		<form action="" method="post">

			{% for field in form %}
			<div class="fieldWrapper">
				<table summary="Añadir administrador de centro.">
				<caption><h2>Añadir administrador de centro</h2></caption>
				<tr>
					<th scope="row">{{ field.label_tag }}</th>
					<td>{{ field }}</td>
				</tr>
				</table>
			</div>
			{% endfor %}

			<p><input type="submit" value="Confirmar"/></p>
		</form>

	</div>

{% endblock %}
