{% extends "asesorias/Base/base_org_institucional.html" %}

{% block content %}

	<h1>Lista de administradores de centro.</h1>

	<a href="{% url addAdministradorCentro %}" class="addlink">Crear nuevo</a>
	<a href="{% url generarPDFListaAdministradoresCentro %}" class="pdflink">Generar PDF</a>

	<div class="module">
		<table summary="Lista de administradores de centro.">
		<caption><h2>Lista de administradores de centro</h2></caption>

		{% if not lista_administradores_centro %}

		<tr><th scope="row"><p>No existen actualmente administradores de centro en el sistema.</p></th></tr>

		{% else %}

		<!-- Administradores de centro -->
		{% for administrador_centro in lista_administradores_centro %}
		<tr>
			<th scope="row"><a href="{% url editAdministradorCentro administrador_centro.nombre_adm_centro %}">{{ administrador_centro }}</a></th>
			<td><a href="{% url editAdministradorCentro administrador_centro.nombre_adm_centro %}" class="editlink">Editar</a></td>
			<td><a href="{% url delAdministradorCentro administrador_centro.nombre_adm_centro %}" class="deletelink">Eliminar</a></td>
		</tr>
		{% endfor %}

		{% endif %}

		</table>
	</div>

{% endblock %}
