{% extends "asesorias/Base/base_org_institucional.html" %}

{% block content %}

	<h1>Lista de administradores de centro.</h1>

	<a href="{% url addAdministradorCentro %}" class="addlink">Crear nuevo</a>
	<a href="{% url generarPDFListaAdministradoresCentro busqueda %}" class="pdflink">Generar PDF</a>

	<div class="search">

		<form action="" method="post">

			<div class="fieldWrapper">
				<table summary="Realizar búsqueda.">
				{% for field in form %}
				<tr>
					<th scope="row"><input type="submit" value="Búsqueda" class="searchlink"/></th>
					<td>{{ field }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>

		</form>

	</div>

	<div class="module">
		<table summary="Lista de administradores de centro.">
		<caption><h2>Lista de administradores de centro{% if busqueda %} (Filtro = {{ busqueda }}){% endif %}</h2></caption>

		{% if not lista_administradores_centro %}

		<tr><th scope="row"><p>No existen actualmente administradores de centro en el sistema.</p></th></tr>

		{% else %}

		{% if not busqueda %}
		<tr>
			{% ifequal orden '_nombre_adm_centro' %}
			<th colspan="3"><a href={% url listAdministradorCentro 'nombre_adm_centro' %}>Administrador de centro &#11014;</a></th>
			{% else %}
			<th colspan="3"><a href={% url listAdministradorCentro '_nombre_adm_centro' %}>Administrador de centro &#11015;</a></th>
			{% endifequal %}
		</tr>
		{% endif %}

		<!-- Administradores de centro -->
		{% for administrador_centro in lista_administradores_centro %}
		<tr>
			<th scope="row"><a href="{% url editAdministradorCentro administrador_centro.nombre_adm_centro %}">{{ administrador_centro }}</a></th>
			<td><a href="{% url editAdministradorCentro administrador_centro.nombre_adm_centro %}" class="editlink">Editar</a></td>
			<td><a href="{% url delAdministradorCentro administrador_centro.nombre_adm_centro %}" class="deletelink">Eliminar</a></td>
		</tr>
		{% endfor %}

		{% endif %}

		</table>
	</div>

{% endblock %}
