{% extends "asesorias/Base/base_reuniones.html" %}

{% block content %}

    <h1>Lista de reuniones.</h1>

    <h2>Seleccionar alumno.</h2>

    <div class="form">

        <form action="" method="post">

            <div class="fieldWrapper">
                {% for field in form %}
                    <div><p>{{ field.label_tag }}: {{ field }}<a href="{% url addAlumno %}" class="addlink" target="_new"></a></p></div>
                    <div><input type="submit" value="OK"/></p></div>
                {% endfor %}
            </div>

        </form>

    </div>

{% endblock %}
