{% extends "asesorias/Base/base_org_docente.html" %}

{% block content %}

	<h1>Añadir asesor curso académico.</h1>

	<div class="form">
		<div><p>Departamento: <b>{{ nombre_departamento }}</b></p></div>
		<div><p>Asesor: <b>{{ asesor }}</b></p></div>
	</div>

	{% if form.errors %}
	<div id="form-error">
		<p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
		<ul>
			{% for field in form %}
				{% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
			{% endfor %}
			{% if form.non_field_errors %}{{ form.non_field_errors}}{% endif %}
		</ul>
	</div>
	{% endif %}

	<div class="module">

		<form action="" method="post">

			<div class="fieldWrapper">
				<table summary="Añadir asesor curso académico.">
				<caption><h2>Añadir asesor curso académico</h2></caption>
				{% for field in form %}

				{# Excluye los campos que forman parte de la clave que se controlarán por software. #}
				{% ifnotequal field.name 'id_departamento' %}
				{% ifnotequal field.name 'dni_pasaporte' %}
				<tr>
					<th scope="row">{{ field.label_tag }}</th>
					<td>{{ field }}</td>
				</tr>
				{% endifnotequal %}
				{% endifnotequal %}

				{% endfor %}
				</table>
			</div>

			<p><input type="submit" value="Confirmar"/></p>
		</form>

	</div>

{% endblock %}
