{% extends "asesorias/Base/base_org_docente.html" %}

{% block content %}

	<h1>Editar asesor curso académico.</h1>

	{% if not form %}

	<p>No existe tal asesor curso académico.</p>

	<a href="{% url selectDepartamentoOAsesor_AsesorCursoAcademico %}">Lista de asesores curso académico</a>

	{% else %}

	{% if form.errors %}
	<div id="form-error">
		<p>La operación no pudo llevarse a cabo porque ha habido uno o más errores.</p>
		<ul>
			{% for field in form %}
				{% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
			{% endfor %}
			{% if form.non_field_errors %}{{ form.non_field_errors}}{% endif %}
		</ul>
	</div>
	{% endif %}

	<div class="module">

		<form action="" method="post">

			<div class="fieldWrapper">
				<table summary="Editar asesor curso académico.">
				<caption><h2>Editar asesor curso académico</h2></caption>
				{% for field in form %}
				<tr>
					<th scope="row">{{ field.label_tag }}</th>
					<td>{{ field }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>

			<p><input type="submit" value="Confirmar"/></p>
		</form>

	</div>

	{% endif %}

{% endblock %}
