{% extends "asesorias/Base/base_org_docente.html" %}

{% block content %}

	<h1>Lista de asesores curso académico.</h1>

	<h2>Seleccionar departamento.</h2>

	<div class="form">

		<form action="" method="post">

			<div class="fieldWrapper">
				{% for field in form_departamento %}
					<div><p>{{ field.label_tag }}: {{ field }}<input type="submit" value="OK" class="yeslink"/></p></div>
				{% endfor %}
			</div>

		</form>

	</div>

	<h2>Seleccionar asesor.</h2>

	<div class="form">

		<form action="" method="post">

			<div class="fieldWrapper">
				{% for field in form_asesor %}
					<div><p>{{ field.label_tag }}: {{ field }}<input type="submit" value="OK" class="yeslink"/></p></div>
				{% endfor %}
			</div>

		</form>

	</div>

{% endblock %}
