<h1>Editar reunión - pregunta de asesor.</h1>

{% if not form %}

<p>No existe tal reunión - pregunta de asesor.</p>

<a href="../../../../../../../list">Volver</a>

{% else %}

{{ form.errors }}

<form action="" method="post">
    {% for field in form %}

		<!-- Excluye los campos que forman parte de la clave que se controlarán por software. -->
		{% ifnotequal field.name 'dni_pasaporte_alumno' %}
		{% ifnotequal field.name 'curso_academico' %}
		{% ifnotequal field.name 'id_reunion' %}
		{% ifnotequal field.name 'dni_pasaporte_asesor' %}
		{% ifnotequal field.name 'id_entrevista_asesor' %}
		{% ifnotequal field.name 'id_pregunta_asesor' %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
		{% endifnotequal %}
		{% endifnotequal %}
		{% endifnotequal %}
		{% endifnotequal %}
		{% endifnotequal %}
		{% endifnotequal %}

    {% endfor %}
    <p><input type="submit" value="Editar"/></p>
</form>

{% endif %}
