<h1>Lista de reuniones - preguntas de asesor.</h1>

<a href="../add">Crear nuevo</a>

{% if not lista_reuniones_pregunta_de_asesor %}

<p>No existen actualmente reuniones - preguntas de asesor en el sistema.</p>

{% else %}

	{% for reunion_preguntaAsesor in lista_reuniones_pregunta_de_asesor %}
		<ul>
			<li>{{ reunion_preguntaAsesor }}</li>
			<a href="../{{ reunion_preguntaAsesor.dni_pasaporte_alumno }}/{{ reunion_preguntaAsesor.curso_academico }}/{{ reunion_preguntaAsesor.id_reunion}}/{{ reunion_preguntaAsesor.dni_pasaporte_asesor}}/{{ reunion_preguntaAsesor.id_entrevista_asesor }}/{{ reunion_preguntaAsesor.id_pregunta_asesor }}/edit">Editar</a>
			<a href="../{{ reunion_preguntaAsesor.dni_pasaporte_alumno }}/{{ reunion_preguntaAsesor.curso_academico }}/{{ reunion_preguntaAsesor.id_reunion}}/{{ reunion_preguntaAsesor.dni_pasaporte_asesor}}/{{ reunion_preguntaAsesor.id_entrevista_asesor }}/{{ reunion_preguntaAsesor.id_pregunta_asesor }}/del">Eliminar</a>
		</ul>
	{% endfor %}

{% endif %}
